@import url(../css/index.css);

.container {
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
}

body {
   background-color: var(--base-color);
}
.body.no-sctoll{
   overflow: hidden;
}