.cart__container{
   position: fixed;
   left: 50%;
   top: 50%;
  max-width: 1200px;
  transform: translate(-50%, -50%);
  margin: auto;
   /* height: 0vh; */
   height: 97vh;
   width: 97%;
   transition:height all .3s;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-btn-hover);
}
.cart__container-active{
  
   height: 100vh;
}

.cart__table{
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.tbody{
width: 100%;
max-width: 500px;
}

.cart__table-item{}

.cart__table-name{}

.cart__table-price{

}
.cart__close{
   position: absolute;
   right: 0;
   top: 10px;
   width: 50px;
   height: 50px;  
}
.cart__img{
   width: 50px;
   height: 50px;
}